.video-card {
  height: 70%;
  width: 48%;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.2s;
  background-color: transparent;
}

.video-card:hover {
  transform: scale(1.03);
}

.video-thumbnail {
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-radius: 10px;
}

.video-details {
  padding: 10px;
}

.video-gig-title {
  font-size: 15px;
  font-weight: 500;
  color: white;
  margin: 0;
}

.video-meta {
  font-size: 13px;
  color: #aaa;
  margin-top: 4px;
}